/* Navigation Bar Customization */
.navbar-brand img 
{
  max-height: 60px;
}

.nav-link 
{
  transition: transform 0.2s ease;
  color: white;
  margin-left: 10px;
}

/* Navigation Bar Animation */
.nav-link:hover 
{
  transform: scale(1.2);
  color: white;
}

.custom-navbar
{
  background-color: rgb(0,15,72);
}

/* Carousel Image Styling */
#jobsImage img {
  width: 100%;
  height: 110vh;
  object-fit: cover;
}

/* Limited Carousel Container */
#jobsImage  {
  max-height: 60vh;
  overflow: hidden;
}

/* Responsive Styling for Mobile and Tablet */
@media (max-width: 768px) {
  #jobsImage img {
    height: 250px;
  }
}

.header-image-section {
    position: relative;
    overflow: hidden;
}

.header-image-section img {
    width: 100%;
    max-height: 800px;
    object-fit: cover;
    object-position: top;
}

/* Jobs Styling */
.card-custom {
    border-radius: 30px;
    min-height: 280px;
    transition: box-shadow 0.3s ease-in-out;
}
    
.card-custom:hover {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.icon-wrapper {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.action-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: #dee2e6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
    
.action-icon:hover {
    box-shadow: 0 0 0 4px rgba(108, 117, 125, 0.3);
}

body {
    background-color: #f8f9fb;
}

.job-card {
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    transition: box-shadow 0.3s ease;
    height: 100%;
}

.job-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.job-btn {
    background-color:  rgb(6,14,70);
    border-radius: 9999px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.job-btn:hover {
    background-color:  rgb(6,14,70);
    border-radius: 9999px;
    transform: scale(1.05);
}

/* Footer */ 
.footer-custom 
{
  background: linear-gradient(to right, rgb(6,14,70), rgb(6,14,70)); 
  color: #fff;
}

.footer-custom a 
{
  color: #fff;
  text-decoration: none;
}

.footer-custom a:hover 
{
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navbar-toggler-icon {
    filter: brightness(0) invert(1);
  }
}





body {
      background-color: #f8f9fa;
    }

    .sidebar-button {
      width: 100%;
      text-align: left;
      border: none;
      padding: 12px 15px;
      background-color: rgb(6,14,70);
      color: white;
      transition: 0.3s;
      margin-bottom: 5px;
    }

    .sidebar-button:hover,
    .sidebar-button.active {
      background-color: rgb(6,14,70);
      color: white;
      font-weight: bold;
    }

    .job-description {
      display: none;
    }

    .job-description.active {
      display: block;
    }

    .custom-buttons {
      background-color: #212529;
      color: white;
    }

    .custom-buttons:hover {
      background-color: #000;
      color: white;
    }

